<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangzaiplus.test.mapper.LoginLogMapper" >
    <resultMap id="BaseResultMap" type="com.wangzaiplus.test.pojo.LoginLog" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, user_id, type, description, create_time, update_time
    </sql>

    <insert id="insert" parameterType="com.wangzaiplus.test.pojo.LoginLog">
        INSERT INTO login_log(user_id, type, description, create_time, update_time)
        VALUES (#{userId}, #{type}, #{description}, #{createTime}, #{updateTime})
    </insert>

    <select id="selectByMsgId" parameterType="string" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from login_log
        where msg_id = #{msgId}
    </select>
</mapper>