<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangzaiplus.test.mapper.UserMapper" >
    <resultMap id="BaseResultMap" type="com.wangzaiplus.test.pojo.User" >
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="password_salt" property="passwordSalt"/>
        <result column="ip" property="ip"/>
        <result column="mobile" property="mobile"/>
        <result column="mail" property="mail"/>
        <result column="type" property="type"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_time" property="updatedTime"/>
    </resultMap>

    <sql id="Base_Column_List" >
        id, username, password, password_salt, ip, mobile, mail, type, status, is_deleted, created_time, updated_time
    </sql>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM t_user
    </select>

    <select id="selectOne" parameterType="int" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM t_user
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.wangzaiplus.test.pojo.User">
        INSERT INTO t_user(username, password) VALUES (#{username}, #{password})
    </insert>

    <update id="update" parameterType="com.wangzaiplus.test.pojo.User">
        UPDATE t_user SET
        <if test="username != null">
            username = #{username},
        </if>
        <if test="password != null">
            password = #{password}
        </if>
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM t_user WHERE id =#{id}
    </delete>

    <select id="selectByUsernameAndPassword" resultMap="BaseResultMap" parameterType="string">
        SELECT
        <include refid="Base_Column_List" />
        FROM t_user
        where username = #{username} and password = #{password}
    </select>

    <insert id="batchInsert" parameterType="list">
        insert into t_user(username, password)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.username}, #{item.password})
        </foreach>
    </insert>

    <insert id="batchUpdate" parameterType="list">
        update t_user
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="username=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.username}
                </foreach>
            </trim>
            <trim prefix="password=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.password}
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </insert>

    <select id="selectByUsername" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM t_user
        where username = #{username}
    </select>

</mapper>